<!DOCTYPE html>
<html>
<head>
	<title>CART</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style-cart.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Cart</h3>
   	   	<h5 class="Action">Remove all</h5>
   	   </div>

		{% for selected_item in selected_items %}
   	   <div class="Cart-Items">
         
   	   	  <div class="image-box">
   	   	    <img src="{{ url_for('static', filename = 'styles/img/'+selected_item.source) }}" alt="" class="menu__img">
   	   	  </div>

   	   	  <div class="about">
            <h1 class="title"> {{ selected_item.name }}</h1>
   	   	  	<h3 class="subtitle"> {{ selected_item.description }} </h3>
   	   	  </div>

   	   	  <div class="counter">
   	   	  	<div class="btn">+</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">-</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">₹ {{ selected_item.price }}</div>
   	   	  	<!-- <div class="save"><u>Save for later</u></div> -->
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
        
   	   </div>
	   {% endfor %}

   	 <!-- <hr> -->
		<div class="checkout">
			<div class="total">
				<div>
					<div class="Subtotal">Sub-Total</div>
					<div class="items">2 items</div>
				</div>
				<div class="total-amount">₹ 350</div>
			</div>
			<form method = 'POST'>
				{{ order_form.hidden_tag() }}
				
				{{ order_form.submit(class = 'button') }}
			</form>
		</div>

 	</div>
</body>
</html>
