<!DOCTYPE html>
<html>
<head>
	<title>CART</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style-cart.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Cart</h3>
   	   	<h5 class="Action">Remove all</h5>
   	   </div>

   	   <div class="Cart-Items">
        {% for selected_item in selected_items %}
   	   	  <div class="image-box">
   	   	    
   	   	  </div>
   	   	  <div class="about">
   	   	  	<!-- <h1 class="title">Apple Juice</h1> -->
            <h1 class="title"> {{ selected_item.name }}</h1>
   	   	  	<h3 class="subtitle"> {{ selected_item.description }} </h3>
   	   	  	<!-- <img src="images/veg.png" style={{ height="30px" }}/> -->
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<div class="btn">+</div>
   	   	  	<div class="count">2</div>
   	   	  	<div class="btn">-</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">Rs.{{ selected_item.price }}</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
        {% endfor %}
   	   </div>

<!--    	   <div class="Cart-Items pad">
   	   	  <div class="image-box">
   	   	  	<img src="images/grapes.png" style={{ height="120px" }} />
   	   	  </div>
   	   	  <div class="about">
   	   	  	<h1 class="title">Grapes Juice</h1>
   	   	  	<h3 class="subtitle">250ml</h3>
   	   	  	<img src="images/veg.png" style={{ height="30px" }}/>
   	   	  </div>
   	   	  <div class="counter">
   	   	  	<div class="btn">+</div>
   	   	  	<div class="count">1</div>
   	   	  	<div class="btn">-</div>
   	   	  </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">$3.19</div>
   	   	  	<div class="save"><u>Save for later</u></div>
   	   	  	<div class="remove"><u>Remove</u></div>
   	   	  </div>
   	   </div> -->
   	 <hr>
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 		<div class="items">2 items</div>
   	 	</div>
   	 	<div class="total-amount">$6.18</div>
   	 </div>
   	 <button class="button">Order Now</button></div>
   </div>
</body>
</html>
