<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">

        <title>Menu</title>
    </head>
    <body>
        <!-- {% for mesg in get_flashed_messages() %}
        <h1>{{ mesg }}</h1>
        {% endfor %} -->

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo"><h1>Silver Leaf.</h1></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{{ url_for('home_page' )}}" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="index.html#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="index.html#services" class="nav__link">Services</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link">Log Out</a></li>
                    {% else %}
                    <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Log in</a></li>
                    <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Register</a></li>
                    {% endif %}
                    <!-- <li class="nav__item"><a href="index.html#contact" class="nav__link">Contact us</a></li> -->
                    <li class="nav__item"><a href="{{ url_for('cart_page') }}" class="cart__button"><i class='bx bx-cart-alt'></i></a></li>

                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %} -->
    </header>
    <!--========== HEADER ENDS ==========-->
<!-- ========== MENU ==========-->
<section class="menu section bd-container" id="menu">
    <h2 class="section-title">Menu</h2>

    <!-- SEARCH BOX -->
    <div class="search-box">
        <button class="btn-search"><i class='bx bxs-search'></i></button>
        <input type="text" class="input-search" placeholder="Search..">
      </div>
    <!-- SEARCH BOX ENDS -->

    <!-- ========== ITEMS ==========-->
    <div class="menu__container bd-grid">

        {% for item in items %}
        <div class="menu__content">
            <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
            <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
            <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
            <!-- <h3 class="menu__name">Barbecue salad</h3> -->
            <h3 class="menu__name">{{ item.name }}</h3>
            <!-- <span class="menu__detail">Delicious dish</span> -->
            <span class = "menu_detail"> {{ item.description }} </span>
            <span class="menu__price">₹{{ item.price }}</span>
            <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
            <form method = 'POST'>
                {{ add_form.hidden_tag() }}
                <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                {{ add_form.submit(class = 'button menu__button') }}
            </form>

        </div>
        {% endfor %}

    </div>
</section>
<!-- ========== MENU ENDS ==========-->

<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
<div class="footer__container bd-grid">
    <div class="footer__content">
        <a href="#" class="footer__logo">Slver Leaf</a>
        <span class="footer__description">Restaurant</span>
        <div>
            <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
        </div>
    </div>

    <div class="footer__content">
        <h3 class="footer__title">Services</h3>
        <ul>
            <li><a href="menu.html" class="footer__link">Order Food</a></li>
            <li><a href="table.html" class="footer__link">Table Reservation</a></li>
            <li><a href="#" class="footer__link">Delivery</a></li>
        </ul>
    </div>

    <div class="footer__content">
        <h3 class="footer__title">Information</h3>
        <ul>
            <li><a href="#" class="footer__link">Event</a></li>
            <li><a href="#" class="footer__link">Contact us</a></li>
            <li><a href="#" class="footer__link">Privacy policy</a></li>
            <li><a href="#" class="footer__link">Terms of services</a></li>
        </ul>
    </div>

    <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul>
            <li>Somewhere</li>
            <li>Universe</li>
            <li>999 - 888 - 777</li>
            <li>silverleaf@gmail.com</li>
        </ul>
    </div>
</div>

<p class="footer__copy">&#169; 2021 Group-37. All right reserved</p>
</footer>
<!--========== FOOTER ENDS HERE ==========-->

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="static/styles/js/main.js"></script>


</body>
</html>
